REACT_APP_API_BASE_URL="http://localhost:8080"
REACT_APP_SPOTIFY_BASE_URL="https://api.spotify.com/v1/"
REACT_APP_CLIENT_ID=""
REACT_APP_SPOTIFY_REDIRECT_URI="http://localhost:3000/auth"
REACT_APP_SPOTIFY_SCOPE="user-modify-playback-state,user-read-playback-state,user-read-currently-playing,playlist-read-private"
REACT_APP_SPOTIFY_PING_INTERVAL=10000